@import "tailwindcss";

* {
  box-sizing: border-box;
}

@theme inline {
  --font-figtree: var(--font-figtree);
  --font-urbanist: var(--font-urbanist);
  --color-primary: #fc004e;
  --color-secondary: #10cbe0;
}

:root {
  --background: #000;
}

body {
  /* background: var(--background); */
}
